{% extends 'geekshop/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'geekshop/style.css' %}">
{% endblock %}

{% block content %}
<div class="hero-white">
  {% include 'geekshop/includes/link_menu.html' %}
</div>
<div class="container px-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Фото</th>
          <th scope="col">Категория</th>
          <th scope="col">Название</th>
          <th scope="col">Цена</th>
          <th scope="col">Количество</th>
          <th scope="col">Сумма</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
      <tbody>
      {% for item in basket_items %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><img src="media/{{ item.product.image }}"
                alt="{{ item.product.short_desc }}"></td>
          <td>{{ item.product.category.name }}</td>
          <td>{{ item.product.name }}</td>
          <td>{{ item.product.price }}&nbspруб</td>
          <td><input type="number"
                     name="{{ item.pk }}"
                     min="0"
                     value="{{ item.product.quantity }}&nbspшт"></td>
          <td>{{ item.product_cost }}&nbspруб</td>
          <td><button class="btn btn-round"
                      <a href="{% url 'basket:remove' item.pk %}"
                         class="">
                          удалить</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if basket_items %}
    <div class="basket_summary">
        В корзине {{basket_items.0.total_quantity }} товаров общей стоимостью
        {{basket_items.0.total_cost }} руб.
    </div>
    {% endif %}
    <button type="submit"
            class="btn btn-round form-control last">
            <a href="{%url 'index' %}"
               class="">на главную
            </a>
    </button>
</div>
{% endblock %}