{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title|title }}</title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'geekshop/style.css' %}">
    <link rel="stylesheet"
          href="fonts/font-awesome/css/font-awesome.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container">
    <div class="slider">
    {% include 'geekshop/includes/link_menu.html' %}
    {% include 'mainapp/includes/hot_product.html' %}
 <div class="text-slider">
<!--            <h3 class="green">тенденции </h3>-->
<!--            <h3 class="big"> удобные стулья</h3>-->
<!--            <p>Новый уровень комфорта. Отличные характеристики.</p>-->
<!--            <p>{{ now|date:"H:i:s:u - D d m Y" }}</p>-->
<!--            <a href="#" class="button-order">заказать <img src="img/arrow.png" alt=""></a>-->
        </div>
        <div class="navi">
            <a href="#"></a><a href="#"></a><a href="#"></a>
        </div>
    </div>

    <div class="featured">
        <div class="featured-menu">
            <a class="active" href="#">Популярные</a><a href="#">Новинки</a>
        </div>
        <a class="explore" href="#">показать все <img src="img/arrow.png" alt=""></a>
        <div class="clearfix">
        </div>
        <div class="tab-content">
            {% for product in products %}
            <div class="block">
                <a href="{% url 'basket:add' product.pk %}"><img src="/media/{{ product.image }}" alt="">
                    <div class="text">
                        <img src="static/geekshop/img/icon-hover.png" alt="img">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.short_descript }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="clr"></div>

</div>

{% include 'geekshop/includes/link_footer.html' %}

</body>
</html>