# created by virtualenv automatically
venv
Lib
Scripts
.idea
geekshop\geekshop\__pycache__

pyvenv.cfg
requirements.txt
README.md
.gitignore
geekshop/mainapp/__init__.py
geekshop/geekshop/__init__.py



